*{
   padding:0px ;
   margin: 0px;
   box-sizing: border-box;
   list-style: none;
   font-family: sans-serif;
}
.navbar{
    width: 100%;
    height: 80px;
    background-color: rgb(0, 102, 157);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fffafa;
}

.menu ul{
    display: flex;
    align-items: center;
}


.menu ul li a{
    text-decoration: none;
    color:#ffffff;
    padding: 5px 12px;
    letter-spacing: 2px;
    font-size: 18px;
}
.menu ul li a:hover{
    border-bottom: 4px solid #35e1f8;
    transition: 0.4s;   
}

.signup a{
    text-decoration: none;
    color: #f9f5f5;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    padding: 12px 30px;
    border: 2px solid #eaeaea;
}
.signup a:hover{
    background-color: rgb(85, 214, 243);
    transition: 0.6s;
}
.body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url('./photo_5861519685248466860_y.jpg') center center/cover no-repeat;
}
.heading{
    width: 30%;
    text-align: center;
    color: #fff;
}
.heading h1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.heading a{
    text-decoration: none;
    color: #0250d6;
    font-size: 25px;
    font-weight: bold;
    border-radius: 45px;
    padding: 14px 50px;
    background-color: #fff;
}
.heading a:hover{
    letter-spacing: 3px;
    transition: o.6s;
}
.tours{
    width:70%;
    display: flex;
    justify-content: space-around;
}
.places{
    display: inline;
    text-align: center;
   
}
.places h2{
    color: rgb(1, 91, 227);
    font-size: 35px;
    letter-spacing: 3px;
    padding: 30px 30px;
    background-color: #36bfdb;
}
.places a{
    text-decoration: none;
    color: rgb(2, 133, 255);
    font-weight: bold;
    font-size: 18px;
 
    padding: 12px 30px;
    background-color: #fff;
}
.places a:hover{
    background-color: #a8d5f1;
    letter-spacing: 3px;
    transition: 0.6s;
}
.footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: bold ;
}
.footer a:hover{
    background-color: #4bbaff;
    letter-spacing: 3px;
    transition: 0.6s;
}
.div{
    

}